%h4 Profile

%p
  %strong
    Name:
  = @player.name
%p
  %strong
    Rating:
  = @player.rating

- unless @player.clubs.empty?
  %p
    %strong
      Clubs:
      - @player.clubs.each do |club|
        = club.name
        = (@player.clubs.last == club) ?  nil : ', '

%h4 Games Played (#{@player.games_played_count})

%table{width: '100%'}
  %thead
    %tr
      %th
        Humble Victor
      %th
        Graceful Defeated
      %th
        Date
  %tbody
    = render @player.games
